@using Employee_accounting.Models
@model List<UserModel>

<table class="table">
    <tr class="firstRow">
        <th>
            <a asp-area="" asp-contoller="User" asp-controller="User" asp-action="Employees" asp-route-sortOrder="id_desc">ID</a>
        </th>
        <th>Name</th>
        <th>
            <a asp-area="" asp-contoller="User" asp-controller="User" asp-action="Employees" asp-route-sortOrder="name_desc">Surname</a>
        </th>
        <th>Year of Birth</th>
        <th>Position</th>
        <th>
            <a asp-area="" asp-contoller="User" asp-controller="User" asp-action="Employees" asp-route-sortOrder="dep_desc">Department</a>
        </th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.Name</td>
            <td>@user.Surname</td>
            <td>@user.Year_of_Birth</td>
            <td>@user.Position</td>
            <td>@user.Department</td>
        </tr>
    }

    <tr>
        <td><button class="btn btn-dark btn-sm"><a class="nav-link text-white" asp-area="" asp-controller="User" asp-action="AddUser">Add</a></button></td>
    </tr>
    <tr>

    </tr>

</table>